@{
    Layout = "_LayoutDeslogado";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Animated Login Form with Changing Background</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>

    <style>


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }



        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url('https://i.pinimg.com/originals/c6/b7/70/c6b770110bad6f9115b4b03bde52517e.gif') no-repeat;
            width: 100%;
            background-size: cover;
            background-position: center;
            animation: animateBg 5s linear infinite;
        }

        .login-box {
            position: relative;
            width: 400px;
            height: 450px;
            background: transparent;
            border-radius: 15px;
            border: 2px solid rgba(255,255,255,.5);
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(15px);
        }

        h2 {
            font-size: 2em;
            color: darkblue;
            text-align: center;
        }

        .input-box {
            position: relative;
            width: 310px;
            margin: 30px 0;
            border-bottom: 1px solid darkblue;
        }

            .input-box label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                font-size: 1em;
                color: darkblue;
                pointer-events: none;
                transition: .5s;
            }

            .input-box input:focus ~ label,
            .input-box input:valid ~ label {
                top: -5px;
            }

            .input-box input {
                width: 100%;
                height: 50px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 1em;
                color: darkblue;
                padding: 0 35px 0 5px;
            }

            .input-box .icon {
                position: absolute;
                right: 8px;
                top: 50%;
                color: darkblue;
                transform: translateY(-50%);
            }

        .select-status {
            margin: -15px 0 15px;
            font-size: .9em;
            color: darkblue;
            display: flex;
            justify-content: space-between;
        }

            .select-status label input {
                margin-right: 3px;
            }

            .select-status a {
                color: darkblue;
                text-decoration: none;
            }

                .select-status a:hover {
                    text-decoration: underline;
                }

        button {
            width: 100%;
            height: 40px;
            background-color: rgba();
            border: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 1em;
            color: #000;
            font-weight: 500;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

            button:hover {
<<<<<<< HEAD
                background-color: green; 
                color: darkblue; 
=======
                background-color: green;
                color: darkblue;
>>>>>>> Vinicios_Branch
            }


        .register-link {
            font-size: .9em;
            color: blue;
            text-align: center;
            margin: 25px 0 10px;
        }

            .register-link p a {
                color: blue;
                text-decoration: none;
                font-weight: 600;
            }

                .register-link p a:hover {
                    text-decoration: underline;
                    width: 290px;
                }

    </style>
    <!-- partial:index.partial.html -->
    <div class="wrapper">

        <div class="login-box">
            <form asp-controller="Login" asp-action="BuscaLogin" method="post">
                <h2>Login</h2>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="email"></ion-icon>
                    </span>
                    <input type="text" id="nomeUsuario" name="nomeUsuario" required>
                    <label>Usuario</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="senha" name="senha" required>
                    <label>Senha</label>
                </div>

                <div class="select-status">
                    <label>Selecione</label>
                    <select id="flagStatus" name="flagStatus" required>
                        <option value="true">Titular</option>
                        <option value="false">Dependente</option>
                    </select>
                    <a asp-controller="EsqueceuSenha" asp-action="EsqueceuSenhaIndex">Esqueceu a senha?</a>
                </div>

                <button type="submit">Login</button>
            </form>

        </div>

    </div>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
</body>
</html>
