<p class="fw-bold text-center text-primary" style="background-color: ghostwhite;">Conhecimentos adquiridos</p>

<p class="text-center" style="background-color: ghostwhite;">
    Os conhecimentos adquiridos no jovem programador foram com faz um sofware em c# com o winform
    e conectando com o banco de dados as informações e tambem foi passado todos os conceitos basicos sobre a linguagem,
    já na materia de banco de dados foi ensinado sobre bancos relacionais e não relacionais, criação de tabelas, chaves
    primarias e chaves secundarias, como fazer joins e inserts nas tabelas.
</p>

