<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="~/css/EstiloEventos.css">
</head>
<body>

    <div class="container">
        <h2>Lista de Eventos</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Evento</th>
                    <th>Data do Evento</th>
                    <th>Descrição do Evento</th>
                    <th>Capacidade Máxima</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var evento in Model)
                {
                    <tr>
                        <td>@evento.nomeEvento</td>
                        <td>@evento.dataEvento.ToString("dd/MM/yyyy")</td>
                        <td>@evento.descricaoEvento</td>
                        <td>@evento.capacidadeMaxima</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

