<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jovem Programador Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JovemProgramadorWeb1.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <style>
        body {
            background-image: url("https://images.alphacoders.com/121/1218911.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: scroll;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h3 class="display-4" style="font-weight: bold; color: white;">Bem Vindo</h3>
    </div>
</body>
</html>
