@{
    Layout = "_LayoutDeslogado";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyloLogin.css">
    <title>Login Error</title>
</head>
<body>
    <div class="error-message">
        <h2 style="color: #ffffff;">Erro de Login</h2><br>
        <p style="color: #ffffff;">Usuário ou senha inválidos, por favor, tente novamente.</p><br>
        <button onclick="window.location.href='/Login'" style="background-color: #007BFF; color: #fff; padding: 5px 10px; border: none; cursor: pointer; border-radius: 5px;">Login</button>
    </div>
</body>
</html>
@*@<div class="text-center">
    <button class="btn btn-primary" type="submit">Adicionar</button>
</div>*@