<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marcio Silva</td>
            <td>31</td>
            <td>Arquitetura</td>
            <td>4974949449</td>
        </tr>
        <tr>
            <td>Robson Marinho</td>
            <td>27</td>
            <td>Engenharia</td>
            <td>9498498498</td>
        </tr>
        <tr>
            <td>Antonio Montanha</td>
            <td>29</td>
            <td>Desenvolvedor</td>
            <td>4874949984</td>
        </tr>
        <tr>
            <td>Maria Carola</td>
            <td>32</td>
            <td>Praticas culinares</td>
            <td>4949498494</td>

        </tr>
    </tbody>
</table>
<div class="text-center">
    <a type="submit" class="btn btn-primary" role="button" href="~/FormularioCadProfessor/FormularioCadastroProfessor"> Adicionar </a>
    <a type="submit" class="btn btn-primary" role="button" href="~/Home/Index"> Voltar </a>
</div>