@model Aluno

<body>

    <h2 style="text-align: center;">Formulário de Cadastro</h2>
    <br>
    <br>

    <script>
        $(document).ready(function () {
            $('.cpf-mask').mask('000.000.000-00'); // Aplica a máscara de CPF
        });
    </script>
</body>

<form asp-controller="Aluno" asp-action="InserirAluno" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control col-md-4"><br><br>
        
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" asp-for="CPF" oninput="handleCPFFormatting(this)" required class="form-control col-md-4"><br><br>

        <label for="idade">Idade</label>
        <input type="number" asp-for="Idade" class="form-control col-md-4"><br><br>

        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control col-md-4"><br><br>

        <label for="matricula">Matrícula</label>
        <input type="text" asp-for="Matricula" class="form-control col-md-4"><br><br>

        <label for="cep">CEP</label>
        <input type="text" asp-for="Cep" oninput="handleCEPInput(this)" maxlength="10" required class="form-control col-md-4"><br><br>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </div>

</form>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro do Aluno</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <style>
        form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: 0 auto; /* Centraliza horizontalmente */
            text-align: center; /* Centraliza o texto das labels */
        }

        label {
            margin-bottom: 1px;
            font-weight: bold;
        }

        input {
            padding: 1px;
            margin-bottom: 1px;
        }

        button {
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
    <script>
        function formatCPF(cpf) {
            cpf = cpf.replace(/\D/g, ''); // Remove caracteres não numéricos

            if (cpf.length > 11) {
                cpf = cpf.slice(0, 11); // Limita a 11 caracteres
            }

            if (cpf.length > 3 && cpf.length <= 6) {
                cpf = cpf.replace(/(\d{3})(\d{0,3})/, '$1.$2');
            } else if (cpf.length > 6 && cpf.length <= 9) {
                cpf = cpf.replace(/(\d{3})(\d{3})(\d{0,3})/, '$1.$2.$3');
            } else if (cpf.length > 9) {
                cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{0,2})/, '$1.$2.$3-$4');
            }

            return cpf;
        }

        function handleCPFFormatting(input) {
            var formattedCPF = formatCPF(input.value);
            input.value = formattedCPF;
        }

        function formatCEP(cep) {
            cep = cep.replace(/\D/g, ''); // Remove caracteres não numéricos

            if (cep.length > 8) {
                cep = cep.slice(0, 8); // Limita a 8 dígitos
            }

            if (cep.length > 5) {
                cep = cep.replace(/(\d{5})(\d{0,3})/, '$1-$2'); // Aplica a máscara
            }

            return cep;
        }

        function handleCEPInput(input) {
            var formattedCEP = formatCEP(input.value);
            input.value = formattedCEP;
        }
    </script>
</head>
