<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Aluno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioEdicao">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" name="cep">
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf">
                    </div>
                    <div class="form-group">
                        <label for="idade">Idade</label>
                        <input type="number" class="form-control" id="idade" name="idade">
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matrícula</label>
                        <input type="text" class="form-control" id="matricula" name="matricula">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="salvarEdicao">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Quando o botão "Editar" é clicado
        $("button.editar-btn").click(function () {
            // Obtenha os dados do aluno a partir do atributo data-
            var codigoAluno = $(this).data("codigo");
            var nomeAluno = $(this).data("nome");
            var emailAluno = $(this).data("email");
            var cepAluno = $(this).data("cep");
            var cpfAluno = $(this).data("cpf");
            var idadeAluno = $(this).data("idade");
            var matriculaAluno = $(this).data("matricula");

            // Preencha os campos do formulário no modal
            $("#codigo").val(codigoAluno);
            $("#nome").val(nomeAluno);
            $("#email").val(emailAluno);
            $("#cep").val(cepAluno);
            $("#cpf").val(cpfAluno);
            $("#idade").val(idadeAluno);
            $("#matricula").val(matriculaAluno);

            // Abra o modal
            $("#editarModal").modal("show");
        });

        // Quando o botão "Salvar" é clicado
        $("#salvarEdicao").click(function () {
            var formData = $("#formularioEdicao").serialize();

            $.ajax({
                url: "/Aluno/AtualizarAluno", // Endpoint no servidor para atualização
                type: "POST",
                data: formData,
                success: function (response) {
                    // Lide com a resposta do servidor, se necessário
                    // Feche o modal
                    $("#editarModal").modal("hide");
                    // Atualize a página ou a lista de alunos, se necessário
                },
                error: function (xhr, status, error) {
                    // Lide com erros, se necessário
                }
            });
        });

    });
</script>